
<h1><%= @user.name %></h1><br>
<h3><%= @user.mobile_number%></h3><br>
<h3><%= @user.address%></h3><br>
<h3><%= @user.email%></h3><br>
<h3><%= @user.role%></h3><br>


<% if current_user.role=="Patient" && !current_user?(@user)%>
<%= link_to "Book Appointment",new_appointment_path(id:@user.id)%>
<% end %>